<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dr-login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dr-login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-content [fullscreen]="true">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <ion-label class="welcomeMessage">
    <ion-text color="light">Welcome back,</ion-text>
    <ion-text color="light"><p>Log In!</p></ion-text>
  </ion-label>

  <form [formGroup]="form">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input formControlName="email" placeholder="Enter Email Address!">
        </ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="!form.get('email').valid && form.get('email').touched">
        <p class="error">* Please enter proper email address</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-input formControlName="phone" placeholder="Enter Phone Number!">
        </ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="!form.get('phone').valid && form.get('phone').touched">
        <p class="error">* Phone must have 10 numbers</p>
      </ion-text>

      <ion-button color="warning" shape="round" (click)="onSubmit()">
        Log In
      </ion-button>
      <p class="dr-signUp">
        <ion-note>
          Not a provider yet?
          <ion-text routerLink="/dr-signup" color="warning">
            Sign Up
          </ion-text>
        </ion-note>
      </p>
    </ion-list>

  </form>

</ion-content>
