<ion-header [translucent]="true">
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="'/'"></ion-back-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="pin-container" [fullscreen]="true">
    <div style="padding: 30px;padding-bottom:10px;text-align: -webkit-center;">
        <ion-icon size="large" name="lock-closed-outline" color="secondry"></ion-icon>
        <p style="margin-top: 10px;">Enter PIN</p>
        <p style="margin-top: 10px;font-size: 13px;color: #7f7b7b;">Please enter your pin to proceed</p>
    </div>
  
    <div>
        <code-input style="margin-top: 0px;margin-bottom: 0px;"
            [isCodeHidden]="true"
            [codeLength]="codeLength"
            [code]="code"
            [initialFocusField]="0"
            (codeChanged)="onCodeChanged($event)"
            (codeCompleted)="onCodeCompleted($event)">
        </code-input>
    </div>
  
    <ion-loading style="--backdrop-opacity: 0.3" [isOpen]="isLoading" message="Processing" spinner="crescent"></ion-loading>

    <div>
        <ion-grid class="pin-pad">
            <ion-row>
                <ion-col (click)="onKey('1')">1</ion-col>
                <ion-col (click)="onKey('2')">2</ion-col>
                <ion-col (click)="onKey('3')">3</ion-col>
            </ion-row>
            <ion-row>
                <ion-col (click)="onKey('4')">4</ion-col>
                <ion-col (click)="onKey('5')">5</ion-col>
                <ion-col (click)="onKey('6')">6</ion-col>
            </ion-row>
            <ion-row>
                <ion-col (click)="onKey('7')">7</ion-col>
                <ion-col (click)="onKey('8')">8</ion-col>
                <ion-col (click)="onKey('9')">9</ion-col>
            </ion-row>
            <ion-row>
                <ion-col></ion-col>
                <ion-col (click)="onKey('0')">0</ion-col>
                <ion-col  (click)="onDelete()">
                    <ion-icon size="large" name="backspace"></ion-icon>            </ion-col>
            </ion-row>
        </ion-grid>
    </div>
  
  </ion-content>
  
  