
.pin-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    color: white;

    ion-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    div {
        margin: 5vh auto;
        max-width: 400px;
    }

    ion-icon {
        display: flex;
        margin: auto;
        margin-bottom: 2vh;
        width: 100%;
    }

    ion-label {
        display: flex;
        width: 10%0;
        margin: auto;
        text-align: center;
    }

    .pin-pad {
        display: flex;
        flex-direction: column;
    }
}

// .pin-container {
//     display: flex;
// }

// code-input {
//     color: white;
//     width: 400px;
//     margin: 10vh auto 10vh;
// }

// .pin-pad {
//     margin: 10vh auto 10vh;
//     color: #fff;
//     text-align: center;
//     min-width: 400px;
//     max-width: 500px;
//     text-align: center;
//     bottom: 0;
    
//     ion-row {
//         margin-bottom: 2vh;
//     }
    
//     ion-col {
//         width: calc(100%/3);
//         border: solid 1px #fff;
//         padding: 1px 2px;
//         // width: 66px;
//         height: 70px;
//         margin: 0.5vh;
//     }
// }