<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-list lines="none" *ngIf="(chat) as chat$">
    <ion-item-group class="chat-group" *ngFor="let chat of chat$">
      <app-chat-box [chat]="chat" [current_user_id]="currentUserId">

      </app-chat-box>

    </ion-item-group>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-textarea
      autoGrow
      rows="1"
      placeholder="Send message here!"
      class="ion-text-center"
    >
    </ion-textarea>

    <ion-buttons slot="end">
      <ion-fab-button
        *ngIf="!isLoading"
        size="small"
        color="warning"
        (click)="sendMessage()"
      >
        <ion-icon name="send" co></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isLoading" size="small" color="warning">
        <ion-spinner name="crescent" color="white"></ion-spinner>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
